<h2>Please sign in</h2>
<form (ngSubmit)="login('email')" #loginForm="ngForm">

  <div *ngIf="errors && errors.length > 0 && !submitted" class="alert alert-danger" role="alert">
    <div><strong>Oh snap!</strong></div>
    <div *ngFor="let error of errors">{{ error }}</div>
  </div>
  <div *ngIf="messages && messages.length > 0 && !submitted" class="alert alert-success" role="alert">
    <div><strong>Hooray!</strong></div>
    <div *ngFor="let message of messages">{{ message }}</div>
  </div>

  <label for="input-email" class="sr-only">Email address</label>&nbsp;&nbsp;
  <input name="email" [(ngModel)]="user.email" type="email" id="input-email"
    class="form-control form-control-lg first" placeholder="Email address"
         [required]="getConfigValue('email', 'validation.email.required')"
         autofocus>

  <label for="input-password" class="sr-only">Password</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input name="password" [(ngModel)]="user.password" type="password" id="input-password"
    class="form-control form-control-lg last" placeholder="Password"
         [required]="getConfigValue('email', 'validation.password.required')"
         [minlength]="getConfigValue('email', 'validation.password.minLength')"
         [maxlength]="getConfigValue('email', 'validation.password.maxLength')">

  <div class="checkbox" *ngIf="getConfigValue('email', 'login.rememberMe')">
    <label>
      <input name="rememberMe" [(ngModel)]="user.rememberMe" type="checkbox" value="remember-me"> Remember me
    </label>
    <a routerLink="../request-password">Forgot Password</a>
  </div>
  <button [disabled]="submitted || !loginForm.form.valid"
    class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>

<div class="links">
  <br />
  Don't have an account? 
  <a [routerLink]="['/register']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Register</a>
  
  <br /><br />
</div>
